<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ quotation }}
  <form class="form-login" action="" method="post">
                   {% csrf_token %}
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap" id="login">
                    <input id="search-keyword" name="euserid"  placeholder="用户ID">
                 <input id="search-keyword-1" name="telephone" placeholder="电话">
                    <input id="search-keyword" name="fax"  placeholder="传真">
                 <input id="search-keyword-1" name="shippingAddress" placeholder="送货地址">
                    <input id="search-keyword" name="vendor_id"  placeholder="供应商编码">
                 <input id="search-keyword-1" name="rfq__id" placeholder="参考询价单编码">
<hr>


                    <div style="text-align:center">
                         <button class="btn btn-theme"  type="submit" >Submit</button>
                    </div>



		        </div>

		      </form>
<hr>
{{ message }}
</body>
</html>