<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style-qr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/notice.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/default.min.css' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/bootstrap-datepicker/css/datepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/bootstrap-daterangepicker/daterangepicker.css' %}" />
        
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/purchase.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/the-datepicker.css' %}" rel="stylesheet">
 <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>

    <!--script for this page-->
    <script src="{% static 'assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>

	<!--custom switch-->
	<script src="{% static 'assets/js/bootstrap-switch.js' %}"></script>
	
	<!--custom tagsinput-->
	<script src="{% static 'assets/js/jquery.tagsinput.js' %}"></script>
	
	<!--custom checkbox & radio-->

	<script src="{% static 'assets/js/form-component.js' %}"></script> 

    <script src="{% static 'assets/js/highlight.min.js' %}"></script>
    <script>
        hljs.highlightAll();
    </script>

    <script src="{% static 'assets/js/notice.min.js' %}"></script>
    <script>
        const notice = new Notice();
    </script>

    <script src="{% static 'assets/js/main-qr.js' %}"></script>
   
        <script src="{% static 'assets/js/the-datepicker.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <section id="container" >
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
          <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
          </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>MD集团物料管理系统</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
        
    </header>
  <!--header end-->
  
  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
      <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
                  
              <p class="centered"><img src="/static/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              <h5 class="centered">物料管理</h5>
                  
            <li class="mt">
                <a href="/mm/home/">
                    <i class="fa fa-dashboard"></i>
                    <span>主页</span>
                </a>
            </li>
  
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>供应商管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/mm/vendor/create/">创建新供应商</a></li>
                    <li><a  href="/mm/vendor/search/">查看或修改供应商信息</a></li>
                    <li><a  href="/mm/vendor/history/">供应商交易历史汇总</a></li>
                </ul>
            </li>
  
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>商品管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/mm/material/item/create/">创建新商品</a></li>
                    <li><a  href="/mm/material/search/">查看或修改商品信息</a></li>
                    <li><a  href="/mm/material/item/stock/">查看商品库存</a></li>
                </ul>
            </li>
            
            <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-th"></i>
                        <span>采购订单管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/mm/purchaserequisition/prmanage">采购申请</a ></li>
                            <li><a  href="/mm/purchaserequisition/quoma">供应商评估管理</a ></li>
                            <li><a  href="/mm/purchaserequisition/pomanage">采购订单</a ></li>
        
                    </ul>
                </li>
                
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-tasks"></i>
                        <span>收货管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/mm/receipt/orders/search/">创建商品收据</a></li>
                        <li ><a  href="/mm/receipt/search/">查看商品收据</a></li>
                        <li ><a  href="/mm/invoice/orders/search/">创建发票收据</a></li>
                        <li ><a  href="/mm/invoice/search/">查看发票收据</a></li>
                        <li ><a  href="/mm/invoice/payment/">付款</a></li>
                    </ul>
                </li>
            
  
        </ul>
          
          <!-- sidebar menu end-->
      </div>
  </aside>
  </section> 
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 创建采购申请</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> 基本信息</h4>
                      <form class="form-horizontal style-form" method="get">

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">商品编码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="goodcode">
                                <button type="button" class="btn btn-link " data-toggle="modal" data-target="#myModalgood">忘记编号？</button>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="goodname">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">工厂</label>
                            <div class="col-sm-10">
                                <select type="text" class="form-control" id="factory" name="plant"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">采购组织</label>
                            <div class="col-sm-10">
                                <select type="text" class="form-control" name="pOrg" id="porg"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">采购组</label>
                            <div class="col-sm-10">
                                <select type="text" class="form-control" name="pgrp" id="pgrp"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">公司编码信息</label>
                            <div class="col-sm-10">
                                <select type="text"  class="form-control" name="company" id="company"></select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">估价</label>
                            <div class="col-sm-10" style="display: flex;">
                                <input type="text"  class="form-control" id="gujia">
                                <input type="text"  class="form-control" placeholder="单位" id="danwei"  onclick="currencyf()" name="currency" >
                            </div>
                        </div>

                      
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">数量</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="number">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">送货时间</label>
                            <div class="col-sm-10">
                                <input type="text" id="time" class="form-control">
                            </div>
                        </div>
                        <button type="button" class="btn btn-round btn-primary" id="btn-addgood" onclick="addgood()">添加商品</button>
                        
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
          
                            <!--结算货币modal-->
              <div class="col-sm-12">
                <div class="modal fade" id="myModalcurr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">货币</h4>
                        </div>
                        <div class="modal-body">
                        *双击填入货币
                        <table  class="table table-bordered table-striped table-condensed" id="currtable">
                            <thead>
                                <!-- tr 指定表行标签-->
                                <tr>
                                    <!-- th 设置表头内容，默认加粗-->
                                    <th style="width: 100px;">序号</th>
                                    <th style="width: 120px;">货币</th>
                                    <th>名称</th>
                                </tr>
                            </thead>
                            <tbody id="currDiv">

                            </tbody>
                        </table>

                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                <!--结算货币modal-->


                <!--搜索商品编码modal-->
 <div class="modal fade" id="myModalgood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">搜索商品编号</h4>
        </div>
        <div class="modal-body">
          <!-- Hi there, I am a Modal Example for Dashgum Admin Panel. -->
          <!-- 搜索条件 -->
          <form  id="material4" class="form-horizontal style-form">
            <div class="form-group">
                <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">商品名称： </div>
                </label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="mname" id="mname" >
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">商品类型：</div>
                </label>
                <div class="col-sm-5">
                    <select name="mType" id="mType" class="form-control" >
                        <!-- 默认为未选 -->
                        <option value=''>请选择商品类型</option>
                        <option value='RM'>RM--原材料</option>
                        <option value='HALB'>HALB--半成品</option>
                        <option value='FERT'>SF00--成品</option>
                        <option value='FREMD'>FG00--外部采购物料</option>
                        <option value='PROC'>MI00--加工物料</option>
                        <option value='HAWA'>RE00--贸易货物</option> 
                        <option value='HIBE'>RE00--经营供应</option>
                    </select>
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">工业部门：</div>
                </label>
                <div class="col-sm-5">
                    <select class="form-control" name='industrySector' id='industrySector' >
                        <option value=''>请选择工业部门</option>
                        <option value='C'>化学工业</option>
                        <option value='M'>机械工业</option>
                        <option value='W'>药剂工业</option>
                        <option value='F'>设备工程</option>
                        <option value='R'>零售</option>
                    </select>
                    
                </div>
            </div>
            

            <div class="form-group">
                <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">工厂：</div>
                </label>
                <div class="col-sm-5">
                    <select class="form-control" name='plant' id='plant' ></select>
                    
                </div>
            </div>
            

            <div class="form-group">
                <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">存储位置：</div>
                </label>
                <div class="col-sm-5">
                    <select class="form-control" name="sloc" id="sloc" >
                        <option value=''>请选择存储位置</option>
                        <option value='TG00'>TG00--贸易商品</option>
                        <option value='RM00'>RM00--原材料</option>
                        <option value='SF00'>SF00--半成品</option>
                        <option value='FG00'>FG00--产成品</option>
                        <option value='MI00'>MI00--混合产品</option>
                        <option value='RE00'>RE00--退货产品</option> 
                    </select>
                    
                </div>
            </div>
            <div class="form-group">
                <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
                <label class="col-sm-4 col-sm-4 control-label">
                    <div class="pull-right">创建者编号：</div>
                    </label>
                <div class="col-sm-5">
                    <input name="uid" id="uid" type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <input type="submit"  class="btn btn-theme02">
                    </div>
            </div>
            

        </form>
        {% comment %} <h4> 供应商</h4> {% endcomment %}
        {% comment %} <hr> {% endcomment %}
        <table  class="table table-bordered table-striped table-condensed" id="sptable">
          *双击填入编号                                       
          <thead>
          <!-- 搜索编号返回的属性 style="width: 100px;"-->
          <tr>
              <th> 商品编号</th>
              <th> 商品名称</th>
              <th> 商品类型</th>
              <th> 工业部门</th>
              <th> 工厂</th>
              <th> 存储位置</th>
              <th> 创建者编号</th>
          </tr>
          </thead>
          <tbody id="goodDiv"></tbody>
      </table>
      <script>
        
         //编号搜索 如果搜不到，返回提示：没有符合条件的商品（这个就不返回了，可以判断是否为空）
    $('#material4').on('submit', function(e) {
        e.preventDefault();
        $.ajax(
        {
            type: "POST",
            url: "{% url 'MM:ajax_search_item' %}",
            data:{
                dataType: "json",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                mid: '',
                mname: $("#mname").val(),
                mType: $("#mType").val(),
                industrySector: $("#industrySector").val(),
                sloc: $("#sloc").val(),
                plant: $("#plant").val(),
                uid: $('#uid').val(),
            },
            success: function(data) {

                $('#item_result').text(data);
            
                var dataObj = eval("("+data+")");
                var out = "";
                var i;
                
                for(i = 0; i < dataObj.length; i++) {
                    //dataObj[i].fields.xx
                    fields = dataObj[i].fields
                    material = dataObj[i].material
                    stock = dataObj[i].stock
                    user = dataObj[i].user
                    out += '<tr><td>'+ material.id+ '</td><td>' + material.mname+ '</td><td>' + material.mType+ '</td><td>' + material.industrySector+ '</td><td>'+ stock.name+ '</td><td>'+ fields.sloc+ '</td><td>'+ user.username + '</td><tr>';
                }
                document.getElementById("goodDiv").innerHTML=out;
            },
            failure: function() {

            }
        })
    });

    //双击行 信息进入“搜索商品条件”三个框
    $("#sptable").on("dblclick","tr",function(e){
        document.getElementById("goodcode").value=$(this).find('td').eq(0).text();
        document.getElementById("goodname").value=$(this).find('td').eq(1).text()
        $('#myModalgood').modal('hide');
    });


      </script>
        </div><div class="modal-footer"></div>
    </div>
      </div>
    </div>
  <!--搜索商品编码modal-->




              <div class="col-md-12 mt">
                <div class="content-panel">

                    <table class="table table-hover">
                     <div id="table-pr-head"> <h4><i class="fa fa-angle-right"></i> 商品信息</h4>
                    
                    </div>  
                        <thead>
                        <tr>
                            <th>条目编码</th>
                            <th>商品编码</th>
                            <th>工厂</th>
                            <th>估价</th>
                            <th>货币单位</th>
                            <th>数量</th>
                            <th>送货时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="gooddiv">
                        
                            
                    </tbody>
                    
                    </table>

                <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> 订单信息</h4>
                    <form class="form-horizontal style-form" action="" method="post">

            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <input rows="3" type="text" id = "beizhu" name = "beizhu" class="form-control" name="text" ></input>
                </div>
            </div>
        </form>
        <div id="btn-pr-create">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="create()">创建采购申请</button>
    </div>
    </div>
                    {{ message }}
                    {{ content }}

</div><! --/content-panel -->

</div><!-- /col-md-12 -->
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>

   
        <script>
            (function () {
                var input = document.getElementById('time');
                var datepicker = new TheDatepicker.Datepicker(input);
                datepicker.render();
            })();
        </script>

        <script> 
            $(document).ready(function() {
            
                $.ajax(
                {
                    type: "post",
                    url: "{% url 'MM:ajax_load_currency' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data) {
                        var dataObj = eval("("+data+")");
                        var out = "";
                        var i;
                        for(i = 0; i < dataObj.length; i++) {
                            out += '<tr><td>'+ i + '</td><td>' +dataObj[i].Currency + '</td><td>' + dataObj[i].Name +'</td><tr>';
                                //out += '<option value=' + +'>'+ dataObj[i].Currency + '--' + dataObj[i].Name + '</option>' ;
                        }
                        document.getElementById("currDiv").innerHTML=out;
                        
                    },
                    failure: function() {
    
                    }
                })
            });
            
            $("#currtable").on("dblclick","tr",function(e){
                
                document.getElementById("danwei").value=$(this).find('td').eq(1).text();
                $('#myModalcurr').modal('hide')
                
            });

          
            $("#factory").change(function(){ 
        
                $.ajax({
                    type: "post",
                    url: "{% url 'MM:ajax_getStockByName' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        //plant值
                        name:$("#factory").val(),
                    },
                    success: function(data) {
                        $('#test').text(data);
                        //add：如果没有该工厂，回传回来一个message提示
                        //[{'message': '暂无该工厂相关数据，请重新确认！', 'fields': init}]
                        var dataObj = eval("("+data+")");
                        //注意：plant选择空的时候，这三项也返回空
                        const pk = dataObj[0].pk;
        sessionStorage.setItem('pk', pk)

                        fields = dataObj[0].fields
                        $("#pgrp").val(fields.pGrp);
                        $("#porg").val(fields.pOrg);
                        $("#company").val(fields.companyCode);
                    },
                    failure: function() {
        
                    }
                });
            
            }); 

            $.ajax({
                type: "post",
                url: "{% url 'MM:ajax_load_pgrp' %}",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    var dataObj = eval("("+data+")");
                    var out = "<option value='' >请选择采购组</option>";
                    var i;
                    for(i = 0; i < dataObj.length; i++) {
                        out += '<option value=' + dataObj[i].Pgrp+'>'+ dataObj[i].Pgrp + '--' + dataObj[i].Name + '</option>' ;
                    }
                    document.getElementById("pgrp").innerHTML=out;
                },
                failure: function() {

                }
            });
            $.ajax({
                type: "post",
                url: "{% url 'MM:ajax_load_plant' %}",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    var dataObj = eval("("+data+")");
                    var out = "<option value='' >请选择工厂</option>";
                    var i;
                    for(i = 0; i < dataObj.length; i++) {
                        out += '<option value=' + dataObj[i].Plant+'>'+ dataObj[i].Plant + '--' + dataObj[i].Name + '</option>' ;
                    }
                    document.getElementById("factory").innerHTML=out;
                    document.getElementById("plant").innerHTML=out;
                },
                failure: function() {

                }
            });
            $.ajax({
                type: "post",
                url: "{% url 'MM:ajax_load_porg' %}",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    var dataObj = eval("("+data+")");
                    var out = "<option value='' >请选择采购组织</option>";
                    var i;
                    for(i = 0; i < dataObj.length; i++) {
                        out += '<option value=' + dataObj[i].Porg+'>'+ dataObj[i].Porg + '--' + dataObj[i].Name + '</option>' ;
                    }
                    document.getElementById("porg").innerHTML=out;
                },
                failure: function() {

                }
            });
            $.ajax({
                type: "post",
                url: "{% url 'MM:ajax_load_company' %}",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    var dataObj = eval("("+data+")");
                    var out = "<option value='' >请选择公司编码</option>";
                    var i;
                    for(i = 0; i < dataObj.length; i++) {
                        out += '<option value=' + dataObj[i].CompanyCode+'>'+ dataObj[i].CompanyCode + '--' + dataObj[i].Name + '</option>' ;
                    }
                    document.getElementById("company").innerHTML=out;
                },
                failure: function() {

                }
            });
            

            function currencyf() {
                console.log(1);
    
                //弹出模态框
                
                $("#myModalcurr").modal("show")
            }
          
            
            //添加商品，需判断是否存在
            var i = 0;
function addgood() {
   // if(){
    var goodcode = document.getElementById("goodcode").value
    var factory = document.getElementById("factory").value
    var gujia = document.getElementById("gujia").value
    var danwei = document.getElementById("danwei").value
    var number = document.getElementById("number").value
    var time = document.getElementById("time").value
    var trStr = ''
    i+=10
    trStr = '<tr><td>' + i + '</td><td>' + goodcode  + '</td><td>' + factory + '</td><td>' + gujia + '</td><td>' + danwei + '</td><td>' + number + '</td><td>' + time + '<td><button class="btn btn-danger btn-xs" onclick="deleteTr(this)" id="shanchu"><i class="fa fa-trash-o "></i></button></td>' + '</td></tr>'
    document.getElementById("gooddiv").innerHTML += trStr;
    $(":input").val('');
    showMessage({text: '添加成功！',type: 'success'})
  //     }
  // else
  //  showMessage({text: '添加失败，商品不存在。',type: 'warning'})

}
function create(){ //提交表格，创建成功
    var tabLen = document.getElementById("gooddiv");
    var beizhu = $("#beizhu").val()
    var pk=sessionStorage.getItem('pk')
        var jsonT = "[";
        for (var i = 0; i < tabLen.rows.length; i++) {
                jsonT += '{"itemId":"' + tabLen.rows[i].cells[0].innerHTML + '","material_id":' + tabLen.rows[i].cells[1].innerHTML + ',"plant":"' + tabLen.rows[i].cells[2].innerHTML + '","estimatedPrice":' + tabLen.rows[i].cells[3].innerHTML + ',"currency":"' + tabLen.rows[i].cells[4].innerHTML + '","quantity":' + tabLen.rows[i].cells[5].innerHTML + ',"deliveryDate":"' + tabLen.rows[i].cells[6].innerHTML + '"},'
       //         jsonT += '{"itemId":"' + tabLen.rows[i].cells[0].innerHTML + '","material_id":' + tabLen.rows[i].cells[1].innerHTML + ',"plant":' + tabLen.rows[i].cells[2].innerHTML + ',"estimatedPrice":' + tabLen.rows[i].cells[3].innerHTML + ',"currency":"' + tabLen.rows[i].cells[4].innerHTML + '","quantity":' + tabLen.rows[i].cells[5].innerHTML + ',"deliveryDate":"' + tabLen.rows[i].cells[6].innerHTML + '"},'
        }
        jsonT= jsonT.substr(0, jsonT.length - 1);
        jsonT += "]";
        console.log(jsonT);
        console.log(beizhu)
        $.ajax({
            type: 'post',
            url: '/mm/purchaserequisition/newinsertreque/',
            data:{"json":jsonT,"beizhu":beizhu},
            success: function (data) {
                let a = JSON.parse(data)
                showMessage({text: '创建成功！采购申请编号：'+a.content ,type: 'success',showClose: true, autoClose: false})
            }
        });     


}


function deleteTr(nowTr) {  
        if(confirm("您确认删除该商品吗？")){
            $(nowTr).parent().parent().remove();
    showMessage({text: '删除商品成功！',type: 'success'})
           return true;
        }
        else{
           return false;
        }
}
        </script>

       

</body>
</html>
