<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form class="form-login" action="" method="post">
                   {% csrf_token %}
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap" id="login">

                    <br>

                       <input id="search-keyword" name="prid"  placeholder="请购单编码">
                 <input id="search-keyword-1" name="itemId" placeholder="物料条目编码">


                    <br>
                    <div style="text-align:center">
                         <button class="btn btn-theme"  type="submit" >Submit</button>
                    </div>

		            <hr>


		        </div>

		      </form>
</div>
{{ message }}
</body>
</html>