<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <head>Material Search</head>
    <body>
        <!-- 搜索供应商 -->
        <form id="material1" method="post">
            <fieldset>
                <input  type="text" id="materialInput2" placeholder="请输入状态">
                <input id="materialInput1" name='pk' type="text"  placeholder="请输入供应商编号">
            </fieldset>
            
            <button type="submit" formmethod="post">Submit</button>
        </form>

        <div id="myModal1">
            <!-- 搜索编号条件 -->
            <!-- 可填任意个条件，一个也不填则返回全部 -->
            <form id="material2" method="post">
                {% csrf_token %}
                <fieldset>
                    Vname: <input type="text" name="vname" id="vname">
                    Creater ID: <input type="text" name="uid" id="uid">
                    City: <input type="text" name="city" id="city">
                    国家:<select name="country" id="country"></select>
                公司编码：<select name="company" id="company"></select>
                </fieldset>
                
                <input type="submit" name="submit" value="submit">
            </form>
        </div>
            
        <table>
            <h4> 供应商</h4>
            <hr>
            <thead>
            <!-- 搜索编号返回的属性 -->
            <tr>
                <th> 供应商编号</th>
                <th> 供应商名称</th>
                <th> 所在城市</th>
                <th> 公司编码</th>
                <th> 创建者编号</th>
            </tr>
            </thead>
            <tbody id="searchDiv"></tbody>
        </table>

        <table >
            <thead>
            <tr>
                <th></th>
                <th> 公司编号</th>
                <th> 供应商编号</th>
                <th> 发票编号</th>
                <th> 发票对应会计分录号</th>
                <th> 发票备注</th>
                <th> 总金额</th>
                <th> 发票过账时间</th>
                <th> 结算</th>
            
            </tr>
            </thead>
            <tbody id="searchDiv"></tbody>
            
        </table>
        <label>本次结算总金额：</label>
        <label id=''></label>

        
        <textarea id="item_result"></textarea>

        <script>
            //搜索 两项内容必须都填
            $('#material1').on('submit', function(e) {
                e.preventDefault();
                $.ajax(
                {
                    type: "POST",
                    url: "{% url 'MM:ajax_search_unpaied_invoice' %}",
                    data:{
                        dataType: "json",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        vid: $("#materialInput1").val(),
                        status: $("#materialInput2").val(),
                        //输入2个搜索框的值
                    },
                    success: function(data) {
                        $('#item_result').text(data);
                        var dataObj = eval("("+data+")");
                        //var content=dataObj[0].gr;
                       // console.log(dataObj.gr[0].pk);
                        
                        for(i = 0; i < dataObj.gr.length; i++) {
                           // content2 =dataObj.gr[i].fields
                            //": 10, "sType": "1", "time": "2022-08-18T10:05:04.605Z", "postTime": "2022-08-18T10:03:52Z", "orderItem": 1, "euser": 1}, "user": {"id": 2,
                            //var out='';
                            // out += '<tr><td id="itempk'+i+'">'+ dataObj.gr[i].pk+ '</td><td>' + dataObj.gr[i].po.id + '</td><td>' + dataObj.gr[i].orderItem.id+ '</td><td>' + dataObj.gr[i].material.mname+ '</td><td>'+ dataObj.gr[i].orderItem.quantity+ '</td><td>'+ content2.actualQnty+ '</td><td>'+ content2.time.substr(0,10) +'</td><td><button class="btn btn-success btn-xs" onclick="submitpk(this.id)" id="bid'+i+'"><i class="fa fa-search-plus"></i></button></td></tr>';
                         }
                         document.getElementById("searchDiv").innerHTML=out;
                    },
                    failure: function() {

                    }
                })
            });
            
            //其他搜索
            $('#material2').on('submit', function(e) {
                e.preventDefault();
                $.ajax(
                {
                    type: "POST",
                    url: "{% url 'MM:ajax_search_vendor' %}",
                    data:{
                        dataType: "json",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        vname: $("#vname").val(),
                        city: $("#city").val(),
                        country: $("#country").val(),
                        companyCode: $("#company").val(),
                        uid: $("#uid").val(),
                    },
                    success: function(data) {
                        $('#item_result').text(data);
                        var dataObj = eval("("+data+")");
                        var out = "";
                        var i;
                        for(i = 0; i < dataObj.length; i++) {
                            fields = dataObj[i].fields
                            out += '<tr><td>'+ dataObj[i].pk+ '</td><td>' + fields.vname+ '</td><td>' + fields.city+ '</td><td>' + fields.country+ '</td><td>'+ fields.euser+ '</td><tr>';
                        }
                        document.getElementById("searchDiv").innerHTML=out;
                    },
                    failure: function() {

                    }
                })
            });

            //双击行 信息进入“搜索商品条件”三个框
            $("table").on("dblclick","tr",function(e){
                document.getElementById("materialInput1").value=$(this).find('td').eq(0).text();
                //$('#myModal1').modal('hide');
            });

            
        </script>

        <!-- 确认提示 -->
        <script>
            function tip(){
                if(confirm("您确认修改吗？")){
                return true;
                }
                else{
                return false;
                }
            } 
        </script>

        
    </body>
</html>